@{
  Layout = "_Layout";
}

@model Library.Models.Title

<h2>Edit this title</h2>

<h4>Title: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TitleId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
