
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Library</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 id="jumbotron">Library</h1>
    </div>
    <div id="nav">
		<div class="row">
			<div class="col-4">
				<p>@Html.ActionLink("Back Home", "Index", "Home")</p>
			</div>
			<div class="col-4">
				<p>@Html.ActionLink("Manage Authors", "Index", "Authors")</p>
			</div>
			<div class="col-4">
				<p>@Html.ActionLink("Manage Titles", "Index", "Titles")</p>
			</div>
		</div>
	</div>
  @RenderBody()
@* vvvvv Insert Divs creating FileName.cshtml in Shared folder with <div></div> vvvvv *@
  @* @await Html.PartialAsync("FileName") *@

  @* Insert photo using ===>  src='~/img/FileName.jpg' *@
  </div>

  @* @await Html.PartialAsync("Footer") *@
</body>

</html>