@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Add a Title</h2>

<h4>Add a Title to this Author: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AuthorId)

    @Html.Label("Select Title")
    @Html.DropDownList("TitleId")
    

    <input type="submit" value="Save" />
}
